body{
   background-color: aliceblue;
   margin: 0;
   
}

.topMenu{
    margin: 0;
    padding-inline-start: 0;
}

.menu_bar{
    background-color: grey;  
    margin: 0;
}

.menu_bar a{
    text-decoration: none; 
    color: white 
}

.topMenuItem{
    color: white;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 10px;
    display: inline;
}

.topMenuItem:hover{
    background-color: aquamarine;
}
.menu_bar a:hover{
    text-decoration: none; 
    color: black 
}
