body{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
}
.top_nav{
    background-color: white;
    overflow: hidden;
}

.top_nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 150%;
    font-family: Merriweather;
}

.top_nav a:hover {
    background-color: rgb(152, 181, 233);
    color: black;
    cursor: pointer;
}

.btn{
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 50px;
    height: 60px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn:hover .btn-img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.btn-img{
    width: 40px;
    height: 40px;
}

.tictactoe{
    display: block;
    margin: 10%;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.tictactoe:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.snake{
    display: block;
    margin: 10%;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.snake:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.bot{
    display: block;
    margin: 10%;
    
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.bot:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.optik{
    display: block;
    margin: 10%;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.optik:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.optik-pic{
    clear: left;
    width: 60%;
    margin: 3% auto 0 auto;
}

.optik-pic:hover .optik-img{
    cursor: pointer;
}


.abder-git{
    text-decoration: none;
    color: rgb(29, 108, 153);
}

.email{
    color: rgb(29, 108, 153);
}

.more{
    margin: 10%;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.more:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pic{
    clear: left;
    width: 60%;
    margin: 3% auto 0 auto;
}
.desc{
    font-family: Merriweather;
    text-align: center;
}

.text{
    display: block;
}

.screenshot{
    display: block;
    margin: 0 auto;
    width: 90%;
}

.optik-screenshot{
    display: block;
    margin: 0 auto;
    width: 90%;
}

.tictactoe-screenshot{
    display: block;
    margin: 0 auto;
    width: 60%;
}

.credits{
    text-align: left;
    line-height: 2;
}

@media screen and (min-width: 1400px) {
    .tictactoe{
        display: flex;
        width: 75%;
        margin: 10% auto 10% auto;    
    }

    .snake{
        display: flex;
        width: 75%;
        margin: 10% auto 10% auto;
    }

    .bot{
        display: flex;
        width: 75%;
        margin: 
        10% auto 10% auto;
    }

    .optik{
        display: flex;
        width: 75%;
        margin: 10% auto 10% auto;
        border: 1px solid rgb(29, 108, 153);
        border-radius: 15px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .more{
        display: flex;
        width: 75%;
        margin: 10% auto 10% auto;
        border: 1px solid rgb(29, 108, 153);
        border-radius: 15px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .pic{
        float: left;
        top: 50%;
        margin: 3% 3%;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .optik-pic{
        float: left;
        top: 50%;
        margin: 3% 3%;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .desc{
        font-family: Merriweather;
        font-size: 125%;
        text-align: center;
        padding: 3% 3%;
    }
    
    .text{
        text-align: left;
        line-height: 2;
    }
    .screenshot{
        display: inline;
        width: auto;
    }
    .tictactoe-screenshot{
        display: inline;
        width: auto;
    }
    .optic-screenshot{
        display: inline;
        width: auto;
    }
    

}

#footer {
    margin: 0;
    text-align: center;
    font-family: Merriweather;
    font-size: 100%;
 
}

#footer a{
    text-decoration: none;
    color: black
}