body{
   background-image: linear-gradient(10deg, black, rgb(27, 3, 2));
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   margin: 0;
}

.topMenu{
    margin: 0;
    padding-inline-start: 0;
}

.menu_bar{
    background-image: linear-gradient(10deg, black, rgb(27, 3, 2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.menu_bar a{
    text-decoration: none; 
    color: white 
}

.topMenuItem{
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 10%;
    display: inline;
}

.topMenuItem a:hover{
    text-decoration: underline;
}

.container{
    margin: 0;
    padding-left: 8px;
}

.welcomeText{
    text-align: center;
    animation: fadein 2s;
}
.welcomeText1{
    text-align: center;
    animation: fadein 4s;
}
.welcomeText2{
    text-align: center;
    animation: fadein 6s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

