body{
   /*background-image: linear-gradient(0deg, white, rgba(54, 148, 143, 0.452));*/
   /*background-image: linear-gradient(0deg, white, rgb(83, 141, 216));*/
   background-color: white;
   /*background-repeat: no-repeat;
   background-attachment: fixed;*/
   color: black;
   margin: 0;
   padding:0;
}

html{
    scroll-padding-top: 12%;
}

.header{
    position: fixed;
    width: 100%;
}

.top_nav{
    background-color: white;
    overflow: hidden;
}

.top_nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 150%;
    font-family: Merriweather;
}

.top_nav a:hover {
    background-color: rgb(152, 181, 233);
    color: black;
}
  
.welcome-div{
    text-align: center;
    margin: 0;
    margin-bottom: 10%;
    padding-top: 10%;
    padding-left: 8px;
    box-sizing: border-box;
}

.welcomeText{
    animation: fadein 2s;
    font-family: Parisienne;
    font-size: 600%;
    margin: 0;
}
.nameText{
    margin: auto;
    margin-top: 5%;
    animation: fadein 2s;
    font-family: Parisienne;
    font-size: 600%;
}
.aspiration{
    margin: auto;
    margin-left: 10%;
    margin-top: 5%;
    animation: fadein 2s;
    font-family: Parisienne;
    font-size: 600%;
}

hr{
    top: 85%;
    left: 50%;

    border-top: 5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: gray;
    border-style: none;
    width: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

#profile-gif{
    float: left;
    margin-right: 15%;
    margin-left: 10%;
    margin-top: 2%;
    width: 35%;
}
.profile-pic{
    border-radius: 10%;
    width: 90%;
}

#about{
    margin-left: 10%;
    margin-right: 10%;
    top: 100%;
    left: 30%;
    right: 10%;
    margin-bottom: 10%;
}

.about-div{
    width: 40%;
    padding-left: 60%;
}

.about-title{
    margin-right: 10%;
    font-family: Merriweather;
}

.about-text{
    line-height: 2;
    margin-right: 10%;
    font-family: Merriweather;
}

.coding-pic{
    width: 50%;
    padding-left: 40%;
}
#coding-div{
    float: right;
    margin-right: 15%;
    width: 40%;
}

.project-text{
    margin-left: 15%;
    margin-top: 10%;
    font-family: Merriweather;
    line-height: 2;
    width: 40%;
}

.project-title{
    margin-left: 10%;
}

#projects{
    margin-top: 10%;
    margin-bottom: 15%;
}

.project-link{
    text-decoration: underline;
    color: black;
}

#contact-div{
    text-align: center;
    font-family: Merriweather;
}
.contact-text{
    margin-bottom: 10%;
    line-height: 2;
}

.get-in-touch{
    font-size: 200%;
    font-weight: 200;
    color: rgb(29, 108, 153);
}
.contact-btn{
    font-size: 200%;
    width: 150px;
    padding: 20px;
    border: 1px solid rgb(29, 108, 153);
    color: rgb(29, 108, 153);
    text-align: center;
    text-decoration: none;
    
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contact-btn:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact-form{
    display: none;
    text-align: center;
    margin-top: 5%;
    font-family: Merriweather;
}

.contact-text{
    margin-bottom: 2%;
}

.form-btn{
    font-size: 200%;
    width: 150px;
    padding: 20px;
    border: 1px solid rgb(29, 108, 153);
    color: rgb(29, 108, 153);
    text-align: center;
    text-decoration: none;
    margin-bottom: 2%;
    
    border-radius: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-btn:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.google-form{
    display: none;
    margin-top: 3%;
}


.thanks-h1{
    font-family: Merriweather;
    text-align: center;
}

.dad-joke{
    font-family: Merriweather;
    text-align: left;
}
#footer {
    margin: 0;
    text-align: center;
    font-family: Merriweather;
    font-size: 100%;
    height: 20%;
}

#footer a{
    text-decoration: none;
    color: black
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


