body{
    margin: 0;
    padding: 0;
}

.top_nav{
    background-color: white;
    overflow: hidden;
}

.top_nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 150%;
    font-family: Merriweather;
}

.top_nav a:hover {
    background-color: rgb(152, 181, 233);
    color: black;
}

.tictactoe{
    display: flex;
    width: 75%;
    margin: 10% auto 10% auto;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.tictactoe:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.snake{
    display: flex;
    width: 75%;
    margin: 10% auto 10% auto;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.snake:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bot{
    display: flex;
    width: 75%;
    margin: 10% auto 10% auto;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.bot:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.optik{
    display: flex;
    width: 75%;
    margin: 10% auto 10% auto;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.optik:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pic{
    float: left;
    top: 50%;
    margin: 3% 3%;
    width: 80%;
}
.desc{
    font-family: Merriweather;
    font-size: 125%;
    text-align: center;
    padding: 3% 3%;
}

.text{
    text-align: left;
    line-height: 2;
}

.more{
    display: flex;
    width: 75%;
    margin: 10% auto 10% auto;
    border: 1px solid rgb(29, 108, 153);
    border-radius: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.more:hover{
    box-shadow: 0 0 20px rgb(29, 108, 153);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img{
    object-fit: cover;
}

#footer {
    margin: 0;
    text-align: center;
    font-family: Merriweather;
    font-size: 100%;
 
}

#footer a{
    text-decoration: none;
    color: black
}